body {
  margin: 0;
  background-color: #000; /* richtig schwarz */
  font-family: system-ui, sans-serif;
  color: white;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

